$white: #fff;
$black: #000;

$gray-darkest: #1a1a1a;
$gray-darker: #333;
$gray-dark: #666;
$gray-medium: #999;
$gray-light: #bbb;
$gray-lighter: #ddd;
$gray-lightest: #f2f2f2;

$primary: #ff2b00;
$primary-dark: #e52700;
$primary-bright: #ffd5cc;
$secondary: #01a0ff;
$ternary: #ff0080;
