@import 'styles/colors';
@import 'styles/margin-padding';
@import 'styles/flexbox';
@import 'styles/ratio';
@import 'styles/transitions';

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
}

body {
  background: $white;
  color: $black;
  font-size: 16px;
  font-fammily: sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3 {
  color: $black;
  margin: 4rem 0 0.5rem 0;
}

h1, h2, h3, h4, h5, h6, p, li {
  line-height: 1.5;
  transition: font-size $normal $ease;
}

h1 {
  position: relative;
  z-index: 2;
  font-size: 1.5rem;
  margin: 0;
  text-transform: uppercase;
  color: $black;
  line-height: 1.5;
}

h2 {
  font-size: 1.75rem;
}

h1 + h2 {
  color: transparentize($black, 0.2);
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

h3 {
  font-size: 2rem;
}

.content h3:first-child {
  margin-top: 0;
}

h4 {
  margin: 1.5rem 0 0.5rem 0;
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
  display: inline;
}

p {
  font-size: 0.95rem;
  margin: 0.5rem 0;
  padding: 0;
  text-align: justify;
}

a {
  margin: 0 -.125em;
  padding: 0 .125em;
  color: inherit;
  text-decoration: none;
  border-radius: 0;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  transition: color $fast $ease, background $fast $ease;
}

a:hover {
  color: $white;
  background: $primary;
  border-radius: 0.125em;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0);
}

a:focus {
  color: $primary-dark;
  background: $primary-bright;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0);
  outline: none;
  border-radius: 0.125em;
}

abbr,
abbr[title] {
  border-bottom: 0;
  text-decoration: none !important;
}

input {
  font-size: inherit;
}

button:active {
  outline: none;
}

b, strong {
  font-weight: 600;
}

em {
  font-style: italic;
  font-weight: 400;
}

::-webkit-selection {
  color: $white;
  background: $black;
  opacity: 1;
}

::-moz-selection {
  color: $white;
  background: $black;
  opacity: 1;
}

::selection {
  color: $white;
  background: $black;
  opacity: 1;
}

figure > img {
  max-width: 100%;
}

figcaption {
  font-size: 0.9em;
  line-height: 1.33em;
  text-align: justify;
}

section.text {
  position: relative;
  overflow: auto;

  figure {
    margin: 3em 3em;
    padding: 0;

    figcaption {
      margin-top: 1em;
    }
  }
}

/*
 * -----------------------------------------------------------------------------
 * General styles, i.e. classes
 * -----------------------------------------------------------------------------
 */

.larger {
  font-size: 1em;
}

.darker {
  color: $gray-darker;
}

.content-wrapper {
  position: relative;
  background: $white;
  box-shadow: 0 -1px 2rem 0 rgba(0, 0, 0, 0.1),
              0 -1px 6px 0 rgba(0, 0, 0, 0.1),
              inset 0 1px 0 0 rgba(0, 0, 0, 0.2);
}

.primary-text {
  color: $primary-dark;
}

.centered {
  text-align: center;
}

svg.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin: 0 1rem;
}

.fullscreen {
  margin-left: -1rem;
  margin-right: -1rem;
}

.large-screen {
  margin-left: -1rem;
  margin-right: -1rem;
}

.abstract {
  color: $black;
}

.hidden-anchor {
  position: absolute;
  display: block;
  box-sizing: content-box;
  top: 0;
  left: -2rem;
  bottom: 0;
  width: 0.5em;
  padding: 0 1.5rem 0 0.25rem;
  opacity: 0.33;
  transform: scale(0);
  transition: all $fast $ease;
  box-shadow: none !important;
  cursor: pointer;

  > .icon {
    height: 100%;
    width: 100%;
  }
}

h3:hover .hidden-anchor,
h3:target .hidden-anchor {
  transform: scale(1);
}

.hidden-anchor:hover,
h3:target .hidden-anchor {
  color: $primary;
  background: transparent;
  opacity: 1;
}

h3:target  {
  color: $black;
  background: transparentize($secondary, 0.9);

  &:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: -2rem;
    width: 2rem;
    background: transparentize($secondary, 0.9);
  }

  &.underlined:after {
    left: -2rem;
    background: $secondary;
  }

  .hidden-anchor {
    padding-right: 0.25rem;
    color: $white;
    background: $secondary;
  }
}

h3.anchored {
  transition: all $fast $ease;
}

.note {
  color: $gray-medium;
  font-style: italic;
}

.no-list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.medium-spacing li,
ol.medium-spacing li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

ul.large-spacing li,
ol.large-spacing li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul.medium-spacing li,
ul.large-spacing li,
ol.medium-spacing li,
ol.large-spacing li {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.smaller {
  font-size: 0.85em;
}

.underlined {
  position: relative;

  &:after {
    position: absolute;
    display: block;
    content: '';
    bottom: -1px;
    left: -1rem;
    right: -1rem;
    height: 2px;
    background: $gray-lighter;
    transition: left $fast $ease;
  }
}

h1.underlined:hover,
h2.underlined:hover,
h3.underlined:hover,
h4.underlined:hover,
h5.underlined:hover {
  &:after {
    left: -2rem;
  }
}

h3.iconized,
h4.iconized,
h5.iconized {
  position: relative;
  display: block;

  > * {
    display: block;
    float: left
  }

  > .icon {
    height: 100%;
    width: 1em;
    margin-right: 0.25em;

    &.icon-small {
      width: 0.75em;
    }
  }
}

h3.iconized {
  height: 3rem;
}

h4.iconized {
  height: 1.5rem;
}

h5.iconized {
  height: 1.25rem;
}

ol.iconized,
ul.iconized {
  position: relative;
  overflow: auto;

  li {
    position: relative;
    overflow: auto;

    > * {
        display: block;
        float: left
    }

    > *:last-child {
        margin-right: 0.5em;
    }

    .icon {
      height: 1.5em;
      width: 1em;
      margin-right: 0.25em;
    }
  }
}

.icon-inline {
  display: inline;
  width: 0.8em;
  height: 0.8em;
  line-height: 1.5em;
  vertical-align: center;
}

.inline-list li {
  display: inline;
}

// Also known as `social-links`. But anything containing `social` will be
// removed by adblockers.
.remix-links,
.date {
  font-size: 0.9em;
}

.date {
  display: block;
  color: $gray-dark;
}

.full-wh {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.reference {
  .title {
    font-weight: 700;
    margin-bottom: 0.25rem;
  }

  .authors {
    margin-bottom: 0.125rem;
  }

  .authors li:after {
    content: ', ';
  }

  .authors li:nth-last-child(2):after {
    content: ', and ';
  }

  .authors li:last-child:after {
    content: '';
  }

  .badges {
    margin-top: 0.125rem;

    li {
      padding: 0 0.25em;
      font-size: 0.85em;
      text-transform: uppercase;
      border-radius: 0.125rem;
    }
  }

  .preprint {
    color: $gray-dark;
    background: $gray-lighter;
  }

  .secondary-information {
    font-size: 0.9em;
  }

  .number {
    margin-right: 0.5em;
  }
}

.btn {
  display: block;
  padding: 0.25em 0.75em;
  border: 0;
  border-radius: 0.25em;
  color: $white;
  background: $primary;
  box-shadow: none;

  &:hover {
    color: $white;
    background: saturate($primary, 30%);
    box-shadow: none;
  }

  &:active,
  &:focus {
    color: $white;
    border-radius: 0.25em;
    background: darken($primary, 10%);
    box-shadow: none;
  }
}

.btn-primary {
  background: $secondary;

  &:hover {
    background: saturate($secondary, 30%);
  }

  &:active,
  &:focus {
    color: $white;
    border-radius: 0.25em;
    background: darken($secondary, 10%);
  }
}

.btn-big {
  font-size: 1.25em;
  font-weight: bold;
}

.ribbon-wrapper {
  width: 8.5em;
  height: 8.5em;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.ribbon {
  font-weight: bold;
  color: $black;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 0.375em 1em;
  left: -1em;
  top: 2.5em;
  width: 10em;
  background-color: transparentize($secondary, 0.05);
  color: $white;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);

  a {
    box-shadow: none;

    &:hover,
    &:active,
    &:focus {
      color: $white;
      box-shadow: inset 0 -1px 0 0 $white;
    }
  }
}

.journal {
  font-style: italic;
}

.columns {
  overflow: auto;
}

.columns-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @supports (display: grid) {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}

.columns-1-2 .column {
  position: relative;
  overflow: auto;

  > * {
    margin-top: 0;
  }
}

.column-1-2 {
  float: left;
  width: 100%;
}

.video-slides-wrapper {
  background: $gray-lightest;
  box-shadow: 0 0 0 2px $gray-lightest;
  border-radius: 0.5rem;

  h4 {
    margin: 0.5rem;
    font-size: 1rem;
  }
}

.video, .slides {
  @include ratio(3840, 2145);
}

/*
 * -----------------------------------------------------------------------------
 * Specific styles, i.e. IDs
 * -----------------------------------------------------------------------------
 */

#app-name {
  position: relative;
}

#app-name-text {
  position: relative;
  z-index: 2;
  margin: 0 -0.125em;
  padding: 0 0.125em;
  animation-name: intro-effect;
  animation-duration: $slow;
  animation-timing-function: $ease;
  animation-delay: 1.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border-radius: 0.125em;
}

@keyframes intro-effect {
  0% {
    color: $black;
    background-color: transparentize($primary, 1);
  }
  100% {
    color: $white;
    background-color: transparentize($primary, 0);
  }
}

#dot1, #dot2, #dot3 {
  position: absolute;
  z-index: 1;
  right: 0.5em;
  bottom: 0.5em;
  background: $primary;
  transform: scale(0, 0);
  border-radius: 0.125em;
  animation-duration: 3.2s;
  animation-timing-function: $ease;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#dot1 {
  width: 0.5em;
  height: 0.5em;
  animation-name: intro-dot-1;
}

#dot2 {
  width: 0.65em;
  height: 0.65em;
  animation-name: intro-dot-2;
}

#dot3 {
  width: 1em;
  height: 0.75em;
  animation-name: intro-dot-3;
}

@keyframes intro-dot-1 {
  0% {
    transform: translate(0, 0) scale(0, 0);
  }
  14.29% {
    transform: translate(1.5em, 0.80em) scale(1, 1);
  }
  28.57% {
    transform: translate(1.55em, 0.75em);
  }
  42.86% {
    transform: translate(1.52em, 0.7em);
  }
  57.14% {
    transform: translate(1.51em, 0.7em);
  }
  71.43% {
    transform: translate(1.18em, -0.0625em);
  }
  100% {
    transform: translate(1.25em, -0.125em);
  }
}

@keyframes intro-dot-2 {
  0% {
    transform: translate(0, 0) scale(0, 0);
  }
  14.29% {
    transform: translate(1.4em, -0.125em) scale(1, 1);
  }
  28.57% {
    transform: translate(1.35em, -0.0625em);
  }
  42.86% {
    transform: translate(1.37em, 0.125em);
  }
  57.14% {
    transform: translate(1.4em, 0.128em);
  }
  71.43% {
    transform: translate(1.8em, 0.7em);
  }
  100% {
    transform: translate(1.7em, 0.75em);
  }
}

@keyframes intro-dot-3 {
  0% {
    transform: translate(0, 0) scale(0, 0);
  }
  14.29% {
    transform: translate(0.75em, 1.35em) scale(1, 1);
  }
  28.57% {
    transform: translate(0.7em, 1.3em);
  }
  42.86% {
    transform: translate(0.9em, 1.35em);
  }
  100% {
    transform: translate(0.8em, 1.42em);
  }
}

#line1, #line2, #line3 {
  position: absolute;
  z-index: 0;
  right: 0.5em;
  bottom: 0.5em;
  height: 0.1em;
  background: $primary;
  transform: scale(0, 0);
  transform-origin: center left;
  animation-duration: 3.2s;
  animation-timing-function: $ease;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#line1 {
  right: -0.7em;
  width: 1.2em;
  animation-name: intro-line-1;
}

#line2 {
  right: -0.8em;
  width: 1.3em;
  animation-name: intro-line-2;
}

#line3 {
  right: -.75em;
  width: 1.25em;
  animation-name: intro-line-3;
}

@keyframes intro-line-1 {
  0% {
    transform: rotate(28deg) scale(0, 0);
  }
  14.29% {
    transform: rotate(28deg) scale(1, 1);
  }
  28.57% {
    transform: rotate(25deg) scale(1, 1);
  }
  42.86% {
    transform: rotate(23deg);
  }
  57.14% {
    transform: rotate(23deg);
  }
  71.43% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(-18deg);
  }
}

@keyframes intro-line-2 {
  0% {
    transform: rotate(-20deg) scale(0, 0);
  }
  14.29% {
    transform: rotate(-20deg) scale(0.8, 1);
  }
  28.57% {
    transform: rotate(-18deg) scale(1, 1);
  }
  42.86% {
    transform: rotate(-5deg);
  }
  57.14% {
    transform: rotate(-4deg);
  }
  71.43% {
    transform: rotate(18deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

@keyframes intro-line-3 {
  0% {
    transform: rotate(75deg) scale(0, 0);
  }
  14.29% {
    transform: rotate(75deg) scale(0.8, 1);
  }
  28.57% {
    transform: rotate(78deg) scale(1, 1);;
  }
  42.86% {
    transform: rotate(65deg);
  }
  100% {
    transform: rotate(73deg);
  }
}

#fig-teaser {
  @include ratio(1908, 921);
  background: url(images/teaser.jpg) no-repeat center center;
  background-size: cover;
}

#authors-list h4 + p {
  margin-top: -0.25rem;
}

#footer {
  margin-top: 1rem;
  padding: 2rem 0 0 0;
  font-size: 0.85em;
  color: $gray-medium;
  background: $gray-lighter;

  a {
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.125);
  }

  a:hover {
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0);
  }

  .vcg-name {
    font-family: 'Open Sans Condensed';
    text-align: right;
    line-height: 1.125em;
  }

  .logo-hms,
  .logo-seas,
  .logo-vcg {
    height: 2em;
    background-size: cover;
  }

  .logo-hms {
    width: 5.75em;  /* 4 (w) : 1 (h) */
    height: 5em;
  }

  .logo-seas {
    width: 5.75em; /* 3.3 (w) : 1 (h) */
    height: 5em;
  }

  .logo-vcg {
    width: 5em; /* 3.3 (w) : 1 (h) */
    height: 4.25em;
  }

  .copyright {
    font-size: 0.9em;
  }

  #more-at-lekschas-de {
    margin-top: 1rem;
    padding: 0.75rem 0;
    font-size: 1.125em;
    background: $black;

    a {
      padding: 0.25em;
      color: $primary;
      box-shadow: inset 0 -1px 0 0 transparentize($primary, 0.5);

      &:hover,
      &:focus {
        color: $black;
      }
    }
  }
}

/*
 * -----------------------------------------------------------------------------
 * Media Queries
 * -----------------------------------------------------------------------------
 */

/* 400px */
@media screen and (min-width: 25em) {
  h1 {
    font-size: 2rem;
  }
}

/* 400px */
@media screen and (min-width: 25em) {
  p {
    font-size: 1rem;
  }

  .larger {
    font-size: 1.125em;
  }
}

/* 640px */
@media screen and (min-width: 40em) {
  h1 {
    font-size: 2.5rem;
  }

  .content {
    margin-left: 8.3334%;  /* 1/12 */
    margin-right: 8.3334%;
  }

  .fullscreen {
    margin-left: -10%;  /* 1/12 */
    margin-right: -10%;
  }
}

/* 800px */
@media screen and (min-width: 50em) {
  h1 {
    font-size: 3rem;
  }
}

/* 960px */
@media screen and (min-width: 60em) {
  h1 {
    font-size: 3.25rem;
  }

  .larger {
    font-size: 1.2em;
  }

  .content {
    margin-left: 11.1112%;  /* 1/9 */
    margin-right: 11.1112%;
  }

  .fullscreen {
    margin-left: -14.2857%;  /* 1/9 */
    margin-right: -14.2857%;
  }

  .large-screen {
    margin-left: -4rem;
    margin-right: -4rem;
  }

  .column-1-2 {
    width: 50%;
  }

  .text .column-1-2:first-child {
    padding-right: 0.5rem;
  }

  .text .column-1-2:last-child {
    padding-left: 0.5rem;
  }
}

/* 1120px */
@media screen and (min-width: 70em) {
  h1 {
    font-size: 3.5rem;
  }
}

/* 1280px */
@media screen and (min-width: 80em) {
  .content {
    margin-left: 16.6667%;  /* 1/6 */
    margin-right: 16.6667%;
  }

  .fullscreen {
    margin-left: -25%;  /* 1/6 */
    margin-right: -25%;
  }

  .large-screen {
    margin-left: -10rem;
    margin-right: -10rem;
  }

  .text .column-1-2:first-child {
    padding-right: 1rem;
  }

  .text .column-1-2:last-child {
    padding-left: 1rem;
  }
}

/* 1600px */
@media screen and (min-width: 100em) {
  .content {
    margin-left: 20%;  /* 1/5 */
    margin-right: 20%;
  }

  .fullscreen {
    margin-left: -33.3333%;  /* 1/5 */
    margin-right: -33.3333%;
  }
}
